<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordBlog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <header>
            <h1>
                <a href="/">WordBlog</a>
            </h1>
            <nav>
                {{#if loggedIn }}
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            @2021 Paul Renobato Tech Blog
        </footer>
    </div>

    {{#if loggedIn }}
            <script src="/js/logout.js"></script>
    {{/if }}
    
</body>
</html>